<a href="https://colab.research.google.com/github/AithaDhanush/NNDL/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Drive

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import Libraries

In [21]:
import numpy as np
import math as mt
import random
import pandas as pd

Import Data

In [22]:
data = pd.read_excel('/content/drive/MyDrive/AI .DATA/assignment1.xlsx')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

Min and Max Value

In [23]:
x_min = data['X'].min()
x_max = data['X'].max()

y_min = data['Y'].min()
y_max = data['Y'].max()
x_min

62.2

Missing Values Treatment

In [24]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

Normalisation

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])

data.head()

          X         Y
0  0.223183  0.995346
1  0.209343  0.990692
2  0.458478  0.955207
3  0.906574  1.000000
4  0.628028  0.963933

Data Split

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

Initialisation

In [27]:
m=random.uniform(-10,10)
c=random.uniform(-10,10)
eta=0.1
epochs=10000
n_samples = x_train.count()
count = 0

Training Using BGD

In [28]:
for count in range(epochs):
    sum_m = 0
    sum_c = 0

    for i in range(n_samples):
        s1 = -(y_train.iloc[i] - m*x_train.iloc[i] - c)*x_train.iloc[i]
        sum_m = sum_m + s1
        
        s2 = -(y_train.iloc[i] - m*x_train.iloc[i] - c)
        sum_c = sum_c + s2

    m = m - eta * sum_m/n_samples
    c = c - eta * sum_c/n_samples

print(m)
print(c)

-0.12486198761935277
0.6763323376541662

Model Prediction

In [29]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [30]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

Error Metrics Calculation

In [31]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.18349113428030087
Mean square error 0.033668996359471404
Mean absolute error 0.1165516564888077

In [34]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.3308997647358506
Mean square error 0.10949465430224127
Mean absolute error 0.2664867605877546

Deployment

In [33]:
X=int(input('enter X value'))
print('X=',X)

x_nor = (X - x_min)/(x_max - x_min)
y_nor = m*float(x_nor) + c

Y = y_nor*(y_max - y_min) + y_min
print('Y=',Y)

enter X value300
X= 300
Y= 434.6555451966243